/* Variables */
:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-gray: #EEEEEE;
  --basic-social: #E1E1E1;
  --basic-form-border: #D7DCDE;
  --basic-form-field: #444444;

  --hover-red: #E74246;
  --hover-green: #00BC6C;
  --hover-yellow: #EAB534;
  --hover-gray: #DFDFDF;
  --hover-form-border: #B4B9BB;

  --active-black: rgba(0, 0, 0, 0.3);
  --active-white: rgba(255, 255, 255, 0.3);
  --active-red: #D7373B;
  --active-green: #00AA62;
  --active-yellow: #E5A722;
  --active-gray: #D5D5D5;
  --active-logo: #A6A6A6;

  --pagination-active: #DBDBDB;
  --inner-shadow: rgba(0, 1, 1, .1);
  --contacts-text: #666666;
  --special: #4D4D4D;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto.woff2"),
    url("../fonts/roboto.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/robotobold.woff2"),
    url("../fonts/robotobold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/robotomedium.woff2"),
    url("../fonts/robotomedium.woff");
  font-weight: 500;
}

/*Global*/
.page {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

.page,
.page-body {
  min-width: 1200px;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main navigation */
.main-navigation {
  font-weight: 500;
  color: var(--basic-black);
}

.main-header-bar {
  padding-top: 50px;
  background-color: var(--basic-gray);
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  /* display: flex; */
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 45px;
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  width: 440px; */
  margin: 0;
  padding: 0;
  justify-self: center;
  align-self: center;
  list-style: none;
}

.user-navigation {
  justify-self: center;
  align-self: center;
}

.user-cart {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* User navigation */
.site-navigation-link,
.user-navigation-link {
  color: var(--basic-black);
}

.site-navigation-link:hover,
.user-navigation-link:hover {
  color: var(--basic-red);
}

.site-navigation-link:active,
.user-navigation-link:active {
  color: var(--basic-black);
  opacity: .3;
}

.current-link {
  padding-bottom: 23px;
  border-bottom: 2px solid var(--basic-red);
  cursor: default;
}

.current-link:hover,
.current-link:active {
  color: var(--basic-black);
  opacity: 1;
}

/* Button */
.button {
  display: inline-block;
  width: 160px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  color: var(--active-white);
  background-color: var(--active-red);
  box-shadow: inset 0 3px var(--inner-shadow);
}

.button-slider {
  width: 240px;
}

.button-contacts {
  width: 219px;
}

.modal-button {
  width: 200px;
}

.modal-form-button {
  width: 259px;
}

/* Slider */
.slider-bar {
  background-color: var(--basic-gray);
}

.slider-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.slider-list,
.slider-switch {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item-bar {
  margin: 0;
  padding: 80px 0;
}

.slider-title {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.slider-text {
  margin-top: 46px;
  margin-bottom: 26px;
}

.slider-one {
  background-image: url("../img/nerds-index-slide1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.slider-two {
  background-image: url("../img/nerds-index-slide2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.slider-three {
  background-image: url("../img/nerds-index-slide3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.slider-switch {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  margin: auto;
}

/* Container */
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Features */
.features-wrapper {
  border-bottom: 2px solid var(--basic-gray);
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 80px auto;
  padding: 0;
  list-style: none;
}

.features-item {}

.features-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

/* Features button */
.button-apps {
  background-color: var(--basic-green);
}

.button-apps:hover {
  background-color: var(--hover-green);
}

.button-apps:active {
  background-color: var(--active-green);
}

.button-presentations {
  background-color: var(--basic-yellow);
}

.button-presentations:hover {
  background-color: var(--hover-yellow);
}

.button-presentations:active {
  background-color: var(--active-yellow);
}

/* About */
.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 39px 0;
}

/* Придумать решение */
.about-box {
  margin-right: 130px;
}

.about-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--basic-black);
}

.about-table {
  width: 360px;
}

.about-table-head {
  /* padding: 31px 0 10px; */
  text-align: left;
}

/* Придумать решение */
.percent {
  vertical-align: 15px;
}

.order-list {
  list-style-image: url(../img/rectangle.png);
}

.order-list-title {
  text-transform: uppercase;
  font-weight: 700;
}

.about-illustration .about-table-caption {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-table .about-table-head {
  font-size: 45px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-table-head .percent {
  font-size: 26px;
}

/* Partner */
.partners {
  /* outline: 5px solid rgba(0, 255, 0, 0.7); */
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  border-top: 2px solid var(--basic-gray);
  border-bottom: 2px solid var(--basic-gray);
}

.partner-item {
  padding: 20px 0;
  /* justify-self: center; */
  align-self: center;
}

.partner-item img {
  opacity: .2;
}

.partner-item:hover img {
  opacity: 1;
}

.partner-item img:active {
  opacity: .1;
}

/* Footer */
.contacts {
  background-image: url("../img/mapwithmarker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* box-shadow: inset 0 0 15px var(--basic-black); */
}

.contacts-box-wrapper {
  display: grid;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts-box {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  width: 319px;
  grid-row-gap: 20px;
  height: 308px;
  margin: 54px 0;
  justify-items: center;
  align-items: center;
  background-color: var(--basic-white);
}

.contacts-title {
  margin: 0;
  padding-top: 50px;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-adress {
  margin: 0;
}

.contacts-text,
.contacts-phone a {
  color: var(--contacts-text);
}

/* Social */
.social {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-auto-rows: 217px;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.social-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  grid-column-gap: 10px;
  justify-items: start;
  align-items: center;
  list-style: none;
}

.social-item {
  display: grid;
  width: 81px;
  height: 81px;
  background-color: var(--basic-social);
  border-radius: 41px;
}

.social-item:hover {
  background-color: var(--hover-red);
}

.social-item:active {
  background-color: var(--active-red);
  box-shadow: inset 0 3px var(--inner-shadow);
}

.vkontakte-link:active,
.facebook-link:active,
.instagram-link:active {
  opacity: .3;
}

.vkontakte-link {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.facebook-link {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.instagram-link {
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-text {
  justify-items: start;
  align-self: center;
}

.footer-appeal {
  font-size: 36px;
  line-height: 0;
  font-weight: 700;
  color: var(--basic-black);
}

.footer-discount {
  color: var(--basic-form-field);
}

/* Catalog */
.page-title-wrapper {
  display: grid;
  margin: 0 auto;
  padding: 87px 0;
  background-color: var(--basic-gray);
}

.page-title {
  justify-self: center;
  font-size: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.catalog-container-wrapper {
  display: grid;
  grid-template-columns: 400px 760px;
}

.catalog-form-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: var(--basic-black);
}

.catalog-wrapper {
  display: grid;
  grid-template-columns: 760px;
}

.catalog-form-wrapper {
  display: flex;
  align-items: center;
  height: 133px;
}

.catalog-sorting-wrapper {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 133px;
}

.sorting-title {
  display: flex;
  flex-wrap: nowrap;
  width: 402px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: var(--basic-black);
}

.sorting-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item {
  padding-right: 25px;
  font-size: 14px;
}

.sorting-item:last-child {
  padding-right: 0;
}

.sorting-link {
  color: var(--basic-black);
  opacity: .3;
}

.sorting-link:hover {
  color: var(--basic-black);
  opacity: .6;
}

.current,
.sorting-link:active {
  color: var(--basic-black);
  opacity: 1;
}

.sorting-switch {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  padding-left: 40px;
  list-style: none;
}

/* .button-up {
  margin-right: 0;
} */
/* .button-down,
.button-up {
  background-color: var(--basic-black);
} */
.catalog-list {
  display: grid;
  grid-template-columns: 358px 358px;
  grid-column-gap: 44px;
  grid-row-gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-item {
  width: 358px;
  height: 578px;
}

.catalog-item-popup {
  position: relative;
  bottom: 255px;
  padding: 44px 60px;
  text-align: center;
  background-color: var(--basic-gray);
}

.catalog-item-title {
  margin: 0;
  padding: 0;
}

.catalog-item-title a {
  color: var(--basic-black);
}

.catalog-item-title a:hover {
  color: var(--basic-red);
}

.catalog-item-title a:active {
  color: var(--active-black);
}

.catalog-item-text {
  color: var(--contacts-text);
}

.modal-button:active {
  color: var(--basic-white);
}

/* Pagination */
.pagination {
  display: grid;
  grid-template-columns: 50px 50px 50px min-content;
  grid-column-gap: 11px;
  list-style: none;
  margin: 55px 0 60px;
  padding: 0;
}

.pagination-item {
  display: table;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: var(--basic-gray);
  font-weight: 500;
  border-radius: 3px;
}

.pagination-button {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-black);
}

.pagination-item:hover {
  background-color: var(--hover-gray);
}

.pagination-item:active {
  color: var(--active-black);
  background-color: var(--active-gray);
  box-shadow: inset 0 3px var(--inner-shadow);
}

.pagination-button-next {
  width: 260px;
}

.disabled {
  box-sizing: border-box;
  background-color: var(--basic-white);
  border: 3px solid var(--pagination-active);
  border-radius: 3px;
  cursor: default;
}

.disabled:hover,
.disabled:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.pagination-button:active {
  opacity: .3;
}
