/* Variables */

:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-extra-dark: #283136;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-gray: #EEEEEE;

  --basic-social: #E1E1E1;
  --basic-form-border: #D7DCDE;
  --basic-form-field: #444444;

  --hover-red: #E74246;
  --hover-green: #00BC6C;
  --hover-yellow: #EAB534;
  --hover-gray: #DFDFDF;
  --hover-form-border: #B4B9BB;

  --active-black: rgba(0,0,0, 0.3);
  --active-white: rgba(255,255,255, 0.3);
  --active-red: #D7373B;
  --active-green: #00AA62;
  --active-yellow: #E5A722;
  --active-gray: #D5D5D5;
  --active-logo: #A6A6A6;

  --pagination-active: #DBDBDB;

  --inner-shadow: rgba(0, 1, 1, .1);
  --contacts-text: #666666;

  --special: #4D4D4D;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto.woff2"),
    url("../fonts/roboto.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/robotobold.woff2"),
    url("../fonts/robotobold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/robotomedium.woff2"),
    url("../fonts/robotomedium.woff");
  font-weight: 500;
}

/*Global*/

.page {
  min-width: 1160px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

.page-body a {
  text-decoration: none;
  text-transform: uppercase;
}

/*Main header*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.main-header {
  background-color: var(--basic-gray);
}

/*Main navigation*/

.main-navigation {
  font-weight: 500;
}

/*Site navigation*/

.site-navigation,
.user-cart {
  list-style: none;
}

/*User navigation*/

.site-navigation a,
.user-cart a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.user-cart a:hover {
  color: var(--basic-red);
}

.main-navigation a:active,
.user-cart a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-current {
  cursor: default;
}

/*Button*/

.button {
  display: inline-block;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  color: var(--active-white);
  background-color: var(--active-red);
  box-shadow: inset 0 3px var(--inner-shadow);
}

/*Slider*/

.slider-list,
.slider-button {
  list-style: none;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
}

.slider-one {
  background-image: url("../img/nerds-index-slide1.webp");
  background-size: contain;
  background-repeat:no-repeat;
  background-position: 50%;
}

.slider-two {
  background-image: url("../img/nerds-index-slide2.webp");
  background-size: contain;
  background-repeat:no-repeat;
  background-position: 50%;
}

.slider-three {
  background-image: url("../img/nerds-index-slide3.webp");
  background-size: contain;
  background-repeat:no-repeat;
  background-position: 50%;
}

/*Features*/


.features-list {
  list-style: none;
}

.features-item {

}

.features-title{
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

/*Features button*/

.button-apps {
  background-color: var(--basic-green);
}

.button-apps:hover {
  background-color: var(--hover-green);
}

.button-apps:active {
  background-color: var(--active-green);
}

.button-presentations {
  background-color: var(--basic-yellow);
}

.button-presentations:hover {
  background-color: var(--hover-yellow);
}

.button-presentations:active {
  background-color: var(--active-yellow);
}

/*About*/

.about-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--basic-black);
}

.order-list {
  list-style-image: url(../img/rectangle.png);
}

.order-list-title {
  text-transform: uppercase;
  font-weight: 700;
}

.about-illustration .about-table-caption {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.about-table .about-table-head {
  font-size: 45px;
  font-weight: 700;
  color: var(--basic-black);
}

.about-table-head .percent {
  font-size: 26px;
}

/*Partner*/

.partners-list {
  list-style: none;
}

.partner-item img:hover {
  opacity: 0.2;
}

.partner-item img:active {
  opacity: 0.1;
}

/*Footer*/

.contacts-title {
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-adress,
.contacts-phone {
  color: var(--contacts-text);
}

/*Social*/

.social-list {
  list-style: none;
}

.social-item a {
  display: block;
  position: relative;
  width: 81px;
  height: 81px;
  background-color: var(--basic-social);
  border-radius: 41px;
}

.social-item a:hover {
  background-color: var(--hover-red);
}

.social-item a:active {
  background-color: var(--active-red);
}

.vkontakte-link {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.facebook-link {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.instagram-link {
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}



.footer-appeal {
  font-size: 36px;
  font-weight: 700;
  color: var(--basic-black);
}

.footer-discount {
  line-height: 22px;
  color: var(--basic-form-field);
}

/*Catalog*/

.page-title {
  font-size: 55px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.sorting-list {
  list-style: none;
}

.sorting-title {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: var(--basic-black);
}

.sorting-item {
  font-size: 14px;
}

.sorting-link {
  color: var(--basic-black);
  opacity: 0.3;
}

.sorting-link:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.sorting-link .current {
  color: var(--basic-black);
}

.sorting-switch {
  list-style: none;
}

.catalog-list {
  list-style: none;
}

.catalog-item-title a {
  color: var(--basic-black);
}

.catalog-item-title a:hover {
  color: var(--basic-red);
}

.catalog-item-title a:active {
  color: var(--active-black);
}

.catalog-item-text {
  color: var(--contacts-text);
}

.modal-button:active {
  color: var(--basic-white);
}

/*Pagination*/

.pagination {
  list-style: none;
}

.pagination-button {
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.pagination-button:hover {
  background-color: var(--hover-gray);
}

.pagination-button:active {
  color: var(--active-black);
  background-color: var(--active-gray);
}

.disabled {
  background-color: var(--basic-white);
  border: 3px solid var(--pagination-active);
  border-radius: 3px;
  cursor: default;
}

.disabled:hover,
.disabled:active {
  background-color: var(--basic-white);
}
