/* Variables */
:root {
  --basic-white: rgb(255, 255, 255);
  --basic-black: rgb(0, 0, 0);
  --basic-extra-dark: rgb(40, 49, 54);
  --basic-red: rgb(251, 87, 91);
  --basic-green: rgb(0, 201, 116);
  --basic-yellow: rgb(238, 199, 73);
  --basic-gray: rgb(238, 238, 238);
  --basic-social: rgb(224, 224, 224);
  --basic-form-border: rgb(215, 220, 222);
  --basic-form-field: rgb(68, 68, 68, .5);

  --hover-red: rgb(231, 66, 70);
  --hover-green: rgb(0, 187, 108);
  --hover-yellow: rgb(235, 181, 52);
  --hover-gray: rgb(223, 223, 223);
  --hover-form-border: rgb(181, 186, 187);

  --active-black: rgba(0, 0, 0, 0.3);
  --active-white: rgba(255, 255, 255, 0.3);
  --active-red: rgb(215, 55, 59);
  --active-green: rgb(0, 170, 98);
  --active-yellow: rgb(230, 167, 34);
  --active-gray: rgb(213, 213, 213);
  --active-logo: rgb(166, 166, 166);
  --active-form-field: rgb(68, 68, 68);

  --shadow-toggle: rgba(0, 0, 0, 15%);
  --shadow: rgba(0, 0, 0, 25%);
  --slider-control-border: rgb(193, 193, 193);
  --pagination-active: rgb(219, 219, 219);
  --inner-shadow: rgba(0, 1, 1, .1);
  --contacts-text: rgb(102, 102, 102);
  --special: rgb(77, 77, 77);
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/roboto.woff2"),
    url("../fonts/roboto.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/robotobold.woff2"),
    url("../fonts/robotobold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src:
    url("../fonts/robotomedium.woff2"),
    url("../fonts/robotomedium.woff");
  font-weight: 500;
}

/*Global*/
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.page,
.page-body {
  min-width: 1200px;
  min-height: 100vh;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

/* Grid */

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/* Main header */

.main-header {
  z-index: 1;
  background-color: var(--basic-gray);
}

/* Main navigation */

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  /* padding-bottom: 10px; */
  font-weight: 500;
  color: var(--basic-black);
}

.main-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 800px;
  padding-top: 49px;
}

/* Logo */

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo:active {
  opacity: .3;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  width: 437px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  list-style: none;
}

.site-navigation li {
  margin: 0;
  padding: 0;
  font-size: 16px;
  margin-right: 45px;
}

.site-navigation li:nth-child(4n) {
  margin-right: 0;
}


.current-link {
  padding-bottom: 19px;
  border-bottom: 2px solid var(--basic-red);
  cursor: default;
}

/* User navigation */

.user-navigation {
  display: flex;
  justify-content: flex-end;
  max-width: 360px;
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 40px;
  list-style: none;
}

/* Pseudo-class navigation */

.site-navigation-link,
.user-navigation-link {
  color: var(--basic-black);
}

.site-navigation-link:hover,
.user-navigation-link:hover {
  color: var(--basic-red);
}

.site-navigation-link:active,
.user-navigation-link:active {
  color: var(--basic-black);
  opacity: .3;
}

.current-link:hover,
.current-link:active {
  color: var(--basic-black);
  opacity: 1;
  user-select: none;
}

.user-navigation li:before {
  content: "";
  position: absolute;
  background-image: url(../img/cart-icon.svg);
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
}

/* Button */

.button {
  display: inline-block;
  width: 160px;
  min-height: 50px;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  color: var(--active-white);
  background-color: var(--active-red);
  box-shadow: inset 0 3px var(--inner-shadow);
}

.modal-button {
  width: 200px;
}

.modal-form-button {
  width: 259px;
}

/* Slider */

.slider {
  margin-bottom: 80px;
  background-color: var(--basic-gray);
}

.slider-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  height: 431px;
}

.slider-list,
.slider-controls {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
  min-height: 431px;
}

.slide-current {
  display: block;
  margin: 0;
  padding: 0;
}

.slide-title {
  margin: 0;
  padding: 78px 0 25px;
  font-size: 55px;
  line-height: 56px;
  font-weight: 500;
  color: var(--basic-black);
}

.slide-text {
  margin: 0;
  padding-bottom: 38px;
  line-height: 25px;
}

.button-slide {
  width: 240px;
}

.slide-one {
  background-image: url("../img/nerds-index-slide1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.slide-two {
  background-image: url("../img/nerds-index-slide2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.slide-three {
  background-image: url("../img/nerds-index-slide3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.slider-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 20;
  width: 88px;
  bottom: 115px;
  left: 536px;
}

.slider-controls li {
  line-height: 0;
  margin: 0;
  padding: 0;
}

.slider-controls button {
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
}

.slider-controls .current::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 2px solid var(--slider-control-border);
  background-color: var(--basic-white);
}

/* Container */

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Features */

.features {
  margin: 0 auto;
  /* margin-bottom: 80px; */
  padding: 0;
  border-bottom: 2px solid var(--basic-gray)
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  margin-right: 100px;
  margin-bottom: 80px;

}

.features-item img {
  margin-bottom: 20px;
}

.features-item:nth-child(3n) {
  margin-right: 0;
}

.features-title {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}

.features-text {
  margin: 0;
  padding-bottom: 31px;
}

/* Features button */

.button-apps {
  background-color: var(--basic-green);
}

.button-apps:hover {
  background-color: var(--hover-green);
}

.button-apps:active {
  background-color: var(--active-green);
}

.button-presentations {
  background-color: var(--basic-yellow);
}

.button-presentations:hover {
  background-color: var(--hover-yellow);
}

.button-presentations:active {
  background-color: var(--active-yellow);
}

/* About */

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 39px auto 75px;
}

.about-box {
  width: 651px;
}

.about-title {
  margin: 0;
  margin-top: 34px;
  margin-bottom: 32px;
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  color: var(--basic-black);
}

.about-text {
  margin: 0;
  margin-bottom: 40px;
}

.order-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order-list-title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}

.order-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 24px;
}

.order-item:last-child {
  padding-bottom: 0;
}

.order-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about-illustration {
  align-items: flex-start;
}

.about-illustration img {
  margin-bottom: 30px;
}

.about-table {
  width: 360px;
  border-collapse: collapse;
}

.about-illustration .about-table-caption {
  padding-bottom: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--basic-black);
}


.about-table th,
.about-table td {
  width: 121px
}

.about-table th {
  padding-bottom: 6px;
  font-size: 45px;
  line-height: 65px;
  font-weight: 700;
  color: var(--basic-black);
  text-align: left;
}

.about-table td {
  font-size: 16px;
  line-height: 18px;
}

.percent {
  vertical-align: 15px;
}

.about-table .percent {
  font-size: 26px;
}

/* Partner */

.partners {
  border-top: 2px solid var(--basic-gray);
  border-bottom: 2px solid var(--basic-gray);
}

.partners-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
  min-height: 180px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.partner-item:first-child,
.partner-item:last-child {
  width: 279px;
  flex-grow: 0;
}

.partner-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 298px;
  min-height: 180px;
  flex-grow: 1;
  position: relative;
}

.partner-item:after {
  content: "";
  position: absolute;
  right: 0;
  width: 2px;
  height: 52px;
  background-color: var(--basic-gray);
}

.partner-item:nth-child(4n):after {
  content: none;
}

.partner-item img {
  opacity: .2;
}

.partner-item img:hover {
  opacity: 1;
}

.partner-item img:active {
  opacity: .1;
}

/* Footer */

.main-footer {
  margin-top: 80px;
}


.contacts {
  height: 416px;
  background-image: url("../img/mapwithmarker.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contacts-box-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.contacts-box {
  width: 320px;
  height: 308px;
  margin: 54px 0;
  background-color: var(--basic-white);
}

.contacts-title {
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts-box .contacts-title,
.contacts-box p,
.contacts-box .button {
  margin-left: 50px;
}

.contacts-box p {
  font-size: 16px;
  line-height: 18px;
}

.contacts-adress {
  margin: 0;
  padding-bottom: 3px;
}

.contacts-phone {
  margin-bottom: 36px;
}

.contacts-adress,
.contacts-phone,
.contacts-phone a {
  color: var(--contacts-text);
}

.button-contacts {
  width: 219px;
  margin-bottom: 47px;
}

/* Social */

.social {
  width: 1160px;
  min-height: 217px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 58px 0;
  padding: 0;
  list-style: none;
}

.social-item {
  display: flex;
  flex-wrap: wrap;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  width: 80px;
  height: 80px;
  margin-right: 9px;
  margin-bottom: 9px;
  background-color: var(--basic-social);
  border-radius: 50%;
}

.social-link:hover {
  background-color: var(--hover-red);
}

.social-link:active {
  background-color: var(--active-red);
  box-shadow: inset 0 3px var(--inner-shadow);
}

.vkontakte-link:active,
.facebook-link:active,
.instagram-link:active {
  opacity: .3;
}

.vkontakte-link {
  background-image: url(../img/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.facebook-link {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.instagram-link {
  background-image: url(../img/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-appeal {
  font-size: 36px;
  line-height: 38px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
  color: var(--basic-black);
}

.footer-discount {
  margin: 0;
  line-height: 22px;
  color: var(--basic-form-field);
}

/* Catalog */


.page-title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--basic-black);
  padding: 78px 0 108px;
  background-color: var(--basic-gray);
  user-select: none;
}

.catalog-container {
  display: grid;
  grid-template-columns: 400px 760px;
}

.catalog-form-wrapper {
  width: 260px;
  margin-top: 55px;
  margin-right: 140px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  background-color: var(--basic-gray);
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--basic-form-border);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: var(--basic-green);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--hover-form-border);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--shadow-toggle);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: var(--basic-gray);
}

.check {
  padding-left: 36px;
}

.option {
  display: block;
  margin-bottom: 15px;
}

.radio-wrap {
  margin: 54px 0 46px;
}

.radio-wrap legend,
.checkbox-wrap legend {
  margin-bottom: 16px;
}

.checkbox-wrap {
  margin-bottom: 50px;
}

.check-box {
  position: absolute;
  margin-left: -36px;
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-color: var(--basic-white);
}

.check-input + .check-box {
  opacity: .4;
}

.check-input:checked + .check-box {
  background-image: url(../img/checkbox-on.svg);
  background-color: var(--basic-white);
  opacity: 1;
}

.check-input:hover + .check-box,
.check-input:focus + .check-box {
  background-image: url(../img/checkbox-off.svg);
  background-color: var(--basic-white);
  opacity: 1;
}

.check-input:checked:hover + .check-box,
.check-input:checked:focus + .check-box {
  background-image: url(../img/checkbox-on.svg);
  background-color: var(--basic-white);
  opacity: 1;
}

.check-input:disabled + .check-box {
  opacity: .1;
}


.radio {
  position: absolute;
  margin-left: -36px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-color: var(--basic-white);
}

.radio-input + .radio {
  opacity: .4;
}

.radio-input:checked + .radio {
  background-image: url(../img/radio-on.svg);
  background-color: var(--basic-white);
  opacity: 1;
}

.radio-input:hover + .radio,
.radio-input:focus + .radio {
  background-image: url(../img/radio-off.svg);
  background-color: var(--basic-white);
  opacity: 1;
}

.radio-input:checked:hover + .radio,
.radio-input:checked:focus + .radio {
  background-image: url(../img/radio-on.svg);
  background-color: var(--basic-white);
  opacity: 1;
}

.radio-input:disabled + .radio {
  opacity: .1;
}

.filter-button {
  background-color: var(--basic-gray);
  color: var(--basic-black);
}

.filter-button:hover {
  background-color: var(--hover-gray);
}

.filter-button:active {
  background-color: var(--active-gray);
  box-shadow: inset 0 3px var(--inner-shadow);
  color: var(--basic-black);
  opacity: .3;
}

.catalog-wrapper {
  width: 760px;
  margin-top: 55px;
}

.catalog-sorting-wrapper {
  display: flex;
}

.sorting-title {
  width: 358px;
  margin: 0;
  margin-right: 44px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
}

.sorting-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item {
  padding-right: 25px;
}

.sorting-item:last-child {
  padding-right: 0;
}

.sorting-link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--basic-white);
  color: var(--basic-black);
  opacity: .3;
}

.sorting-link:hover {
  color: var(--basic-black);
  opacity: .6;
}

/* Придумать решение */

.current,
.sorting-link:active {
  color: var(--basic-black);
  opacity: 1;
}

.sorting-switch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 40px;
  margin: 0;
  padding: 0;
  width: 40px;
  list-style: none;
}

.sorting-switch .button-down {
  width: 11px;
  height: 10px;
  border: none;
  background-image: url(../img/icon-down-dir.svg);
  background-color: var(--basic-white);
  background-repeat: no-repeat;
}

.sorting-switch .button-up {
  width: 11px;
  height: 10px;
  border: none;
  background-image: url(../img/icon-up-dir.svg);
  background-color: var(--basic-white);
  background-repeat: no-repeat;
}

.sorting-switch li {
  opacity: .3;
}

.sorting-switch li:hover {
  opacity: .6;
}

.sorting-switch li:active {
  opacity: 1;
}

.catalog-list {
  display: grid;
  grid-template-columns: 358px 358px;
  grid-column-gap: 44px;
  grid-row-gap: 30px;
  margin: 0;
  margin-top: 49px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 358px;
  height: 618px;
  background-color: var(--basic-form-border);
  border-radius: 5px;
}

.catalog-item:hover {
  box-shadow: 0 4px 4px 0 var(--shadow);
}

.decoration-circle {
  position: relative;
  margin: 13px 39px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.decoration-circle:before {
  content: "";
  position: absolute;
  right: 23px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.decoration-circle:after {
  content: "";
  position: absolute;
  left: 23px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.catalog-item img {
  border-radius: 0 0 5px 5px;
}

.catalog-item-popup {
  visibility: hidden;
  position: absolute;
  width: inherit;
  bottom: 0;
  padding: 26px 0 44px;
  text-align: center;
  background-color: var(--basic-gray);
  border-radius: 0 0 5px 5px;
}

.catalog-item:hover>.catalog-item-popup {
  visibility: visible;
}

.catalog-item:hover {
  background-color: var(--special);
}

.catalog-popup-title {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.catalog-popup-title a {
  color: var(--basic-black);
}

.catalog-popup-title a:hover {
  color: var(--basic-red);
}

.catalog-popup-title a:active {
  color: var(--active-black);
}

.catalog-popup-text {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  font-size: 16px;
  line-height: 18px;
  color: var(--contacts-text);
}

.modal-button:active {
  color: var(--basic-white);
}

/* Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin-top: 54px;
  padding: 0;
  list-style: none;
}

.pagination-item {
  display: table;
  margin: 0;
  margin-right: 11px;
  margin-bottom: 11px;
  padding: 0;
  width: 50px;
  height: 50px;
  background-color: var(--basic-gray);
  font-weight: 500;
  border-radius: 3px;
}

.pagination-item:hover {
  background-color: var(--hover-gray);
}

.pagination-item:active {
  color: var(--active-black);
  background-color: var(--active-gray);
  box-shadow: inset 0 3px var(--inner-shadow);
}

.pagination-item-current {
  box-sizing: border-box;
  background-color: var(--basic-white);
  border: 3px solid var(--pagination-active);
  border-radius: 3px;
  cursor: default;
}

.pagination-item-current:hover,
.pagination-item-current:active {
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: none;
  user-select: none;
}

.pagination-button {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: var(--basic-black);
}

.pagination-button-next {
  padding-right: 0;
  width: 260px;
}

.pagination-button:active {
  opacity: .3;
}

.pagination-item-current .pagination-button:active {
  opacity: 1;
}

.modal {
  display: none;
  z-index: 20;
  position: relative;
  bottom: 770px;
  width: 960px;
  height: 590px;
  margin: 0 auto;
  padding: 0;
  background-color: var(--basic-white);
  box-shadow: 0 20px 40px 0 var(--shadow);
}



/* .modal:before {
  content: "";
  position: absolute;
  top: 78px;
  right: 90px;
  width: 27px;
  height: 5px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
  border-radius: 1px;
  opacity: .3;
}

.modal:after {
  content: "";
  position: absolute;
  top: 78px;
  right: 90px;
  width: 27px;
  height: 5px;
  background-color: var(--basic-red);
  transform: rotate(-45deg);
  border-radius: 1px;
  opacity: .3;
} */

.modal-form {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: 63px auto;
  padding: 0;
  color: var(--basic-black);
}

.modal-form legend {
  padding-bottom: 37px;
  font-size: 45px;
  font-weight: 700;
  line-height: normal;
}

.modal-form fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
}

.modal-form label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 34px;
}

.name input,
.email input {
  margin-top: 9px;
  padding-left: 16px;
  width: 360px;
  height: 50px;
  background: var(--basic-white);
  border: 2px solid var(--basic-form-border);
  box-sizing: border-box;
  border-radius: 3px;
  color: var(--basic-form-field);
}

.name input:focus,
.email input:focus,
.name input:active,
.email input:active {
  color: var(--active-form-field);
}

/* .name input:invalid,
.email input:invalid,
.name input:invalid,
.email input:invalid {
  color: var(--hover-red);
  border-color: var(--hover-red);
} */

.modal-form textarea {
  margin-top: 9px;
  padding: 16px 16px;
  width: 760px;
  background: var(--basic-white);
  border: 2px solid var(--basic-form-border);
  box-sizing: border-box;
  border-radius: 3px;
  color: var(--basic-form-field);
  resize: none;
}

.modal-form .button {
  cursor: pointer;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: var(--basic-white);
  background-image: url(../img/close-cross.svg);
  background-repeat: no-repeat;
  /* box-shadow: 0 4px 4px var(--shadow); */
  opacity: .3;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: .1;
}
